@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900');


body {
font-family: 'Roboto', sans-serif;
height: 1024px;
width: 768px;
}

.maindiv {
  height: 1024px;
  width: 768px;
  position: relative;
}

.largerdiv {
  height: 2048px;
  width: 768px;
  position: relative;
}




.eye {
  width: 640px;
  height: 900px;
}

/*
img {
  transform: scale(0.75, 0.75);
}*/



.smallimg {
  transform: scale(0.6, 0.6);
}




/*Background COLORS*/

.headerarea {
  background-color: #EAF2E3;
}


.first {


}

.second {
  background-color: #B9E4FC;
}

.third {
  background-color: #FFF8D2;
}

.fourth {
background-color: #D4FFEF;
}

.fifth {
  background-color: #FFF8D2;
}

.sixth {
  background-color: #FFEBEB;
}


div.absolute {
  position: absolute;
  bottom: 20px;
  right:384px;
}

.seventh {
  background-color: #FFF8D2;
}

.arrow {
  transform: scale(0.5, 0.5);
}
