@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900');


body {
font-family: 'Roboto', sans-serif;
height: 1024px;
width: 768px;
background: #f1f1f2;
}

.robotomonobold {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
}

.robotomono
{
  font-family: 'Roboto Mono', monospace;
font-weight: 400;
}

.robotonormal {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.maindiv {
  height: 1024px;
  width: 768px;
  position: relative;
}

.largerdiv {
  width: 768px;
  position: relative;
}




.eye {
  width: 640px;
  height: 900px;
}

/*
img {
  transform: scale(0.75, 0.75);
}*/



.smallimg {
  transform: scale(0.4, 0.4);
}

.largeimg {
  transform: scale(2, 2);
}



/*Background COLORS*/

.headerarea {
  background-color: #f1f1f2;
}



.second {
  background-color: #e6e7e8;
}

.third {
  background-color: #FFF8D2;
}

.fourth {
background-color: #D4FFEF;
}

.fifth {
  background-color: #FFF8D2;
}

.sixth {
  background-color: #FFEBEB;
}


div.absolute {
  position: absolute;
  bottom: 20px;
  right:340px;
}

.seventh {
  background-color: #FFF8D2;
}

.arrow {
  transform: scale(0.5, 0.5);
}



.peeps {
  border: 5px solid black;
}





main {
  max-width: 800px;
  padding: 40px;
  background: #f1f1f2;
}

section {
  display: none;
  border-top: 5px solid #0099ff;
  background-color: white;
  padding: 40px;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: black;
  border: 1px solid transparent;
}



label:hover {
  color: gray;
  cursor: pointer;
}

input:checked + label {
  color: white;
  font-weight: lighter;
  background-color: #0099ff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
