@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400');

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,900');


body {
font-family: 'Roboto', sans-serif;
}

div {
  height: 1024px;
  width: 768px;
}

.first {

}

.second {
}

.third {
    background-color: yellow;
  }


.fourth {
  background-color: green;
}

.massive {
  font-size: 150px;
}


.eye {
  height:60px;
  width: 640px;
}
